.chamada-principal-page, 
.chamada-principal-page-gray ,
.chamada-secundaria-titulo {
    font-family: GreatVibes;
	font-size: 64px;
	-webkit-font-smoothing: antialiased;
}

.chamada-principal-page {
	color: #ffffff;
}
.chamada-secundaria-titulo {
	color: #ffffff;
	font-size: 42px;	
}

.chamada-principal-page-gray {
	color: #393737;
}

.chamada-secundaria-page, 
.chamada-secundaria-page-gray,
.chamada-orcamento-gray,
.chamada-principal-menu,
.chamada-secundaria-menu {
	font-family: GothamBoldRegular, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

.lista-vantagens {
	list-style: none;
	padding: 0;
	margin: 0;
}

.lista-vantagens-texto,
.texto-caracteristicas,
.texto-casais {
	font-family: GothamBoldRegular, sans-serif;
	letter-spacing: 0.2rem;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	color: #8C8989
}

.lista-vantagens-texto {
	font-size: 16px;
}

.lista-vantagens-texto::before {
	content: "• ";
	color: #8C8989; /* or whatever color you prefer */
}

.texto-caracteristicas {
	font-size: 12px;
	color: #393737;
}

.texto-casais {
	font-size: 12px;
	color: #393737;
}

.chamada-secundaria-page {
	color: #ffffff;
	font-weight: bold;	
	letter-spacing: 0.4rem;	
}

.chamada-principal-menu {
	color: #ffffff;	
	font-weight: bolder;	
	letter-spacing: 0.2rem;
	font-size: 32px;		
}

.chamada-secundaria-menu {
	color: #ffffff;	
	font-weight: normal;	
	letter-spacing: 0.2rem;
	font-size: 24px;		
}

.chamada-secundaria-page-gray {
	color: #393737;
}

.chamada-orcamento-gray {
	color: #393737;
	font-weight: bold;
	letter-spacing: 0.4rem;
	font-size: 16px;
}

.chamada-faqs-gray {
	font-family: GothamBoldRegular, sans-serif;	
	color: #393737;
	font-weight: bold;
	letter-spacing: 0.4rem;
	font-size: 32px;
}

.chamada-principal-item-menu {
	font-family: GothamBoldRegular, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #514D4D;
	-webkit-font-smoothing: antialiased;
}

.chamada-secundaria-item-menu {
	font-family: GothamBoldRegular, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #A89E9E;
	-webkit-font-smoothing: antialiased;
}

.hr-gray, .hr-white {
	width: 100%;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.hr-gray {
	border: 2px solid #393737;
}

.hr-white {
	border: 1px solid white;
}

.menu-dotted-separator {
    background-image: -webkit-radial-gradient(circle closest-side, rgba(0, 0, 0, 0.2) 99%, transparent 1%);
    background-image: radial-gradient(circle closest-side, rgba(0, 0, 0, 0.2) 99%, transparent 1%);
    background-position: bottom;
    background-size: 5px 3px;
    background-repeat: repeat-x;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}